[submodule "external/madrona-deps"]
	path = external/madrona-deps
	url = https://github.com/shacklettbp/madrona-deps.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/nanobind"]
	path = external/nanobind
	url = https://github.com/wjakob/nanobind.git
[submodule "src/render/vk/external/glslang"]
	path = src/render/vk/external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "src/render/vk/external/SPIRV-Reflect"]
	path = src/render/vk/external/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "external/meshoptimizer"]
	path = external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "external/cub"]
	path = external/cub
	url = https://github.com/shacklettbp/cub.git
[submodule "external/fast_float"]
	path = external/fast_float
	url = https://github.com/fastfloat/fast_float.git
